.task {
    display: flex;
    flex-direction: row;
    height: 3.5%;
    align-items: center;
    justify-content: flex-end;
}

.taskTitle {
    overflow: hidden;
    font-size: 1.5vh;
    font-size: 1.5vw;
    color: #f8f4ec;
    padding-left: 3%;
    flex-grow: 1;
}

.taskDescription {
    overflow: hidden;
    font-size: 1.0vh;
    font-size: 1.0vw;
    font-style: italic;
    word-wrap: break-word;
    max-width: 50ch;
    color: #b6b6b6;
    padding-left: 3%;
}

.taskTitle:hover {
    overflow: auto;
}

.taskCheckbox {
    width: 5.5%;
    flex-shrink: 0;
}

.editButton {
    color: #cecece;
}

.editButton:hover {
    color: #f8f4ec;
}